
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipes Book</a>
  </div>
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a> </li>
        <li><a href="#" >Shopping List</a> </li>
      </ul></div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button"> Manage <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li> <a href="#">Save Data</a> </li>
          <li> <a href="#">Data</a> </li>
        </ul>
        </li>
      </ul>
  </div>
</nav>
