<p>recipes works!</p>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <app-recipes-list></app-recipes-list>
    </div>
    <div class="col-md-6">
      <app-recipes-details></app-recipes-details>
    </div>
  </div>
</div>
