<div style="text-align: center;">
  <app-header></app-header>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <hr>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div>
